.action-view {
  background: #333;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 24px;
  position: absolute;
  right: -400px;
  top: 64px;
  transition: right 300ms;
  width: 400px;


  &--visible {
    right: 24px;
  }

  > * {
    padding: 4px 0;
  }

  &__title {
    border-bottom: solid 1px #444;

    &-text {
      margin: 0;
    }
  }

  &__resources-title {
    margin: 0 0 4px 0;
  }

  &__buttons {
    display: flex;
    width: 100%;
  }

  &__trade-button,
  &__development-button {
    flex-grow: 1;
  }

  &__trade-button {
    margin-right: 1px;
  }

  &__actions {
    flex-grow: 1;
  }

  &__action {
    align-items: center;
    display: flex;
    padding: 4px 0;

    &:not(:last-child) {
      border-bottom: solid 1px #444;
    }

    &-name {
      flex-grow: 1;
      margin: 0;
    }
  }

  &__finish-button {
    font-size: large;
    font-weight: bold;
    width: 100%;
  }

  &__clear-button {
    margin-bottom: 1px;
    width: 100%;
  }
}
