.modal {
  width: 100vw;
  height: 100vw;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  visibility: hidden;
  transition: visibility .3s, opacity .3s;
  opacity: 0;
  z-index: 999;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &__body {
    margin-top: 20%;
    padding: 30px;
    padding-left: 330px;
    background-color: white;

    button:not(:last-child) {
      margin-right: 1px;
    }
  }
}