.resources-list {
  display: flex;


  &--medium &__resource {
    height: 56px;
    width: 36px;
  }

  &--large &__resource {
    height: 84px;
    width: 54px;
  }

  &__resource {
    align-items: center;
    border: .5px solid #dcdcdc;
    border-radius: 5%;
    display: flex;
    font-weight: 100;
    height: 28px;
    justify-content: center;
    margin-right: 4px;
    width: 18px;
  }
}
