button {
    border: none;
    background-color:  rgba(46, 167, 6, 1);
    height:36px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0;    
    cursor: pointer;

    &:hover {
        background-color:  rgb(41, 148, 5);
        transition: background-color .12s;
    }

    &.primary {
        background-color:  rgba(46, 167, 6, 1);
    }

    &.primary:hover {
        background-color:  rgb(41, 148, 5);
        transition: background-color .12s;
    }

    &.secondary {
        background-color:  rgba(150, 150, 150, 1);
    }

    &.secondary:hover {
        background-color:  rgba(150, 150, 150, .8);
        transition: background-color .12s;
    }
}


