@import "variables";
// modules
@import "modules/button";
// components
@import "components/action-view";
@import "components/force-discard-view";
@import "components/modal";
@import "components/resources-list";
@import "components/settings-modal";
@import "components/trade-view";
@import "components/trade-action";
code {
    background: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.hint {
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    transition: opacity .3s;
    width: 100%;
    .hint-text {
        background-color: rgba(20, 20, 20, 0.9);
        border-radius: 21px;
        color: #ffffff;
        font-weight: bold;
        height: 42px;
        margin-top: 20px;
        padding: 12px 36px;
    }
}